body {
  margin: 0;
}

header {
  width: 100%;
  background-color: #6A1384;
  color: #FFF;
  text-align: center;
}

header > div {
  padding: 20px;
  font-size: 50px;
}

header .small-title {
  display: none;
}

.sidebar {
  height: 100%;
  width: 200px;
  background-color: #eaeaea;
  position: fixed;
}

.sidebar ul {
  list-style: none;
  padding: 10px;
  color: #000;
}