body {
  margin: 20px;
}
h1 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

main {
  max-width: 960px;
  margin: auto;
}

.problem {
  margin: 20px;
  clear: both;
}

.problem > .problem-area {
  border: 1px solid gray;
  min-height: 100px;
  padding: 10px;
  overflow: hidden;
}

.box {
  width: 100px;
  height: 100px;
}

.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: blue;
}

.bg-green {
  background-color: green;
}

.ball {
  padding: 10px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
}

.flex-wrapper .item,
.grid-wrapper .item {
  background-color: gray;
  padding: 10px;
  text-align: center;
  margin: 10px;
  color: white;
}

.flex-wrapper {
  min-height: 300px;
}

#problem6 .box {
  color: white;
}

#problem10 .problem-area,
#problem11 .problem-area,
#problem12 .problem-area,
#problem13 .problem-area {
  padding: 0;
}
