.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: 100px;
}

.shape {
  height: 100px;
  width: 100px;
  border: 1px solid #ccc;
}

.coins img {
  width: 50px;
}
